

  #bakgrunn {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 0;
  }

  header {
    width: 60%;
    height: 100px;
    background: blue;
    position: relative;
    display: block;
    margin: auto;
  }

  nav {
    background: rgba(33, 76, 5, 0.7);
    display: block;
    position: relative;
    width: 60%;
    height: 80px;
    margin: auto;
  }

  nav ul {
    height: 80px;
  }

  nav ul li {
    background: #FE0303;
    height: 23px;
    color: #FFF;
    padding-top: 5px;
    width: 80px;
    text-align: center;
    margin-left: 45px;
    margin-top: 16px;
    display: inline-block;
    padding: 10px;
  }

  main {
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    position: relative;
    border-radius: 10px;
    margin: auto;
  }

  footer {
    width: 60%;
    height: 60px;
    background: #9C9;
    position: relative;
    display: block;
    margin: auto;
    }


  #brød {
    margin: auto;
    display: block;
    position: relative;
  }

  #brød tr td {
    padding: 10px;
  }

  #brød tr:nth-child(2n+1) {
    background: rgba(161, 153, 153, 0.6);
  }

  h2 {
    font-size:  36px;
    padding: 20px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    padding: 20px;
  }

  #brødover {
   font-weight: bold;
  }