

  #bakgrunn {
  display: block;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 0;
  }

  header {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: relative;
    display: block;
  }

  h1 {
    text-indent: -9999px;
  }

  #logo {
    margin: auto;
    display: block;
    position: relative;
  }

  nav {
    background: rgba(255, 255, 255, 0.7);
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    margin: auto;
  }

  nav ul {
    height: 80px;
    display: block;
    position: relative;
  }

  nav ul li {
    background: rgba(161, 78, 10, 0.8);
    height: 23px;
    color: #FFF;
    width: 80px;
    text-align: center;
    margin-left: 10%;
    margin-top: 16px;
    display: inline-block;
    padding: 10px 3px 7px 2px;
    border-radius: 25px;
  }

  nav ul li:hover {
    background: rgba(111, 52, 8, 0.8);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  main {
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    position: relative;
    border-radius: 10px;
    margin: auto;

  }

  footer {
    width: 60%;
    height: 60px;
    background: #9C9;
    position: relative;
    display: block;
    margin: auto;
    }


  #brød {
    margin: auto;
    display: block;
    position: relative;
  }

  #brød tr td {
    padding: 10px;
  }

  #brød tr:nth-child(2n+1) {
    background: rgba(161, 153, 153, 0.6);
  }

  h2 {
    font-size:  36px;
    padding: 20px;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    padding: 20px;
  }

  #brødover {
   font-weight: bold;
  }


#tabell
{
  background: rgba(119, 93, 0, 0.8);
  opacity: 0.9;
  height:100%;
  margin: auto;
  display: block;
  font-size: 1em;
  margin-top: 16px;
  padding-left: 50px;
}

#submit 
{
  background-color: rgba(119, 93, 0, 0.8);
  opacity: 0.9;
  color: #FFF;
  border: 1px solid #93eb59;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  font-family: 400 100px/1.3 'Berkshire Swash', Helvetica, sans-serif;
  font-size: 1.1em;
}

#submit:hover {
  background-color: #437d1c;
  opacity: 0.9;
}




  #galleri figure {
      width: 360px;
      height: 300px;
      text-align: center;
      padding-top: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
      position: relative;
      background:rgba(255, 255, 255, 0.6);
      margin: 10px;
      float: left;
  }

  #galleri figure figcaption {
      text-align: center;
      font-family:Georgia, serif;
      color: #333;
      padding-top: 30px;
  }

  #bilder {
    margin:auto;
  }

 

#omoss figure {
      width: 500px;
      text-align: center;
      padding-top: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
      position: relative;
      background:rgba(255, 255, 255, 0.6);
      margin: auto;
      float: auto;
  }

  #omoss figure figcaption {
      text-align: center;
      font-family:Georgia, serif;
      color: #333;
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 30px;