
  html {
    background: url(bakgrund.jpg) 0, 0, no-repeat;
    background-size: cover;
  }

  header {
    width: 60%;
    height: 100px;
    background: blue;
    position: relative;
    display: block;
    margin: auto;
  }

  nav {
    background: rgba(33, 76, 5, 0.7);
    display: inline-block;
    position: relative;
    width: 60%;
    height: 80px;
  }

  nav ul {
    height: 80px;
  }

  nav ul li {
    background: #FE0303;
    height: 23px;
    color: #FFF;
    padding-top: 5px;
    width: 80px;
    text-align: center;
    margin-left: 12px;
    margin-top: 16px;
    display: inline-block;
    padding: 10px;
}

  footer {
    width: 60%;
    height: 60px;
    background: #9C9;
    position: relative;
    display: block;
    margin: auto;
    }

  #side {
    width: 20%;
    height: 800px;
    background: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    float: left;
  }

  main {
    width: 60%;
    height: 800px;
    background: #4FE635;
    display: block;
    position: relative;
    float: left;
  }

  #clearfloat {
    clear: both;
  }
